.banner {
  padding: 1rem;
}

.navList {
  padding: 0; /* remove default padding */
  margin: 0; /* remove default margin */
  display: flex; /* optional: horizontal menu */
  gap: 20px; /* optional spacing between items */
}
