.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
}
.form {
  justify-items: flex-end;
  height: 15rem;
}
.label {
  display: inline-flex;
  justify-content: flex-end;
  width: 10vw;
  font-size: 18px;
  margin-bottom: 1rem;
}

.input {
  background-color: rgb(243, 238, 238);
  height: 1.5rem;
  border: 1px solid black;
  border-radius: 5%;
  margin-left: 1rem;
  caret-color: blue;
  text-align: center;
  outline: none;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10%;
  padding: 0.5rem 1rem; /* top-bottom: 0.5rem, left-right: 1rem */
  background-color: var(--global-button);
}

.button:hover {
  cursor: pointer;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1.1rem 0.6rem 1rem;
}

.password_wrapper {
  position: relative;
}
.icon {
  position: absolute;
  right: 5px;
  top: 3px;
}
.icon:hover {
  cursor: pointer;
}
.login_redirect {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
